layout {
	default_tab_template {
		children
      	pane size=1 borderless=true {
      		plugin location="file:@zjstatus@" {
				hide_frame_for_single_pane "true"
				format_left   "{mode} {session} {tabs}"

                hide_frame_for_single_pane "true"

                mode_normal  "#[bg=#24acd4] "
                mode_tmux    "#[bg=#ffc387] "

                tab_normal   "#[fg=#6C7086] {index}: {name} "
                tab_active   "#[fg=#24acd4,bold,italic] {index}: {name} "
			}
		}
	}
	tab name="nvim"
	tab split_direction="vertical" name="zsh" {
		pane
	}
}
